Study of Immigration and Temperature Data
### Data Engineering Capstone Project


Scope the Project and Gather Data

##Scope

The goal is to create an ETL pipeline using the Udacity provided I94 immigration dataset and the city temperature data from Kaggle to allow users to make queries to see and assess if there is a correlation between destination temperature and immigration statistics.

##Potential Consummers of this data model:

Data Analysts and Data Scientists are primary consumers of this data model in order to apply exploration techniques (data mining) which will help them to understand the potential correlation between destination temperature and immigration statistics.

This data model could be integrate into a Data Visualization tool (e.g.PoweBI, Tableau) and BI analyst could explore and apply different exploration technics;



#### Project Summary
In this project, we will be looking at the immigration data, focusing on following hypothesis:

-> The effects and correlation between temperature on the volume of travellers;

-> Travel seasonality


The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [31]:
# Do all imports and installs here
import pandas as pd, re
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

1.The I94 immigration data comes from the US National Tourism and Trade Office. It is provided in SAS specific format(SAS7BDAT) which is a database storage format. Some relevant attributes include:

i94yr         = 4 digit year
i94mon        = numeric month
i94cit        = 3 digit code of origin city
i94port       = 3 character code of destination USA city
arrdate       = arrival date in the USA
i94mode       = 1 digit travel code
depdate       = departure date from the USA
i94visa       = reason for immigration


2.The temperature data comes from Kaggle. It is provided in csv format. Some relevant attributes include:

AverageTemperature = average temperature
City               = city name
Country            = country name
Latitude           = latitude
Longitude          = longitude
dt                 = Date


3.Airport Code Table: This is a simple table of airport codes and corresponding cities. The airport codes may refer to following types:
-> IATA airport code which consists in three-letter code which is used in passenger reservation, ticketing and baggage-handling systems;
-> ICAO airport code which is a four letter code used by ATC systems and for airports that do not have an IATA airport code (from wikipedia). It comes from  - > https://datahub.io/core/airport-codes#data

ident        = Unique identifier
Name         = Name of Airport
Type         = Type of Airport (e.g.helliport, small_airport etc.)
Elevation_ft = Elevation of airport
iso_country  = Airport country location
iso_region   = Airport region
Coordinates  = Airport coordinates
municipality = City where the airport is located
gps_code     = GPS code of the airport
iata_code    = IATA code of the airport
local_code   = Local code of the airport

In [3]:
# Read April 2016 I94 immigration data into Pandas for exploration
fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")

In [4]:
df.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,NaN,NaN,...,U,NaN,1979.0,10282016,NaN,NaN,NaN,1.897628e+09,NaN,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,NaN,M,1961.0,09302016,M,NaN,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,1988.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,2012.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2

In [5]:
# Read temperature data into Pandas for exploration
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
df = pd.read_csv(fname, sep=',')

In [6]:
# Display first few entries of temperature data
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [7]:
# Create Spark session 
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [8]:
# Read Airports location into Pandas for exploration
fname = 'airport_location.csv'
df = pd.read_csv(fname, sep=',')

In [9]:
# Display first few entries of Airports Location Info
df.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

We are not using the airport dataset in our model. We draw the conclusion that it did not prove to be a good source of analysis once we were not able to join this to the main table immigration in a consistent and efficient way.

We did not find a valid and consistent key in both tables in order to cross them. None of the codes (ident, gps_code, iata_code or local_code) are quite redundant to the information we already have and in case we use iata_code as merging key we'll get information only for main airports and more than 70% from airports resided in this table will not be used.

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data


Data Description & Sources;

1.I94 Immigration Data: This data comes from the US National Tourism and Trade Office found here. Each report contains international visitor arrival statistics by world regions and select countries (including top 20), type of visa, mode of transportation, age groups etc.;

2.World Temperature Data: This dataset came from Kaggle;

3.Airport Code Table: This is a simple table of airport codes and corresponding cities. The airport codes may refer to either IATA airport code, a three-letter code which is used in passenger reservation, ticketing and baggage-handling systems, or the ICAO airport code which is a four letter code used by ATC systems and for airports that do not have an IATA airport code (from wikipedia). It comes from  - > https://datahub.io/core/airport-codes#data

Quality assessment

I've initiated following steps in order to clean both main data sources:

1.I94 immigration data:
    The main objectif is to handdle all entries where the destination city code i94port is not a valid value (e.g., XXX ) as described in I94_SAS_Labels_Description.SAS.
 
2. Temperature Data:
    2.1 Clean all entries where AverageTemperature attributes has NaN value;
    2.2 Treat all entries with duplicate locations;
    2.3 Finally, we need to include i94port attribute in each entry;

In [10]:
# I94 immigration data quality assessment
# City airport codes are cleaned using the txt file with airport_codes.txt (source:https://en.wikipedia.org/wiki/IATA_airport_code)


# Create dictionary of valid i94port codes
re_obj = re.compile(r'\'(.*)\'.*\'(.*)\'')
port_valid = {}
with open('airport_codes.txt') as f:
     for line in f:
         match = re_obj.search(line)
         port_valid[match[1]]=[match[2]]

def clean_i94_data(file):
    '''
    Input: Path to I94 immigration data file
    
    Output: Spark dataframe of I94 immigration data with valid airport codes
    
    '''
    
    # Read I94 data into Spark
    df_immigration = spark.read.format('com.github.saurfang.sas.spark').load(file)

    # Filter out entries where i94port is invalid
    df_immigration = df_immigration.filter(df_immigration.i94port.isin(list(port_valid.keys())))

    return df_immigration

In [11]:
#Test function
immigration_test_file = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat' 
df_immigration_test = clean_i94_data(immigration_test_file)
df_immigration_test.show()

+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|  7.0|2016.0|   4.0| 254.0| 276.0|    ATL|20551.0|    1.0|     AL|   null|  25.0|    3.0|  1.0|20130811|     SEO| null|      G|   null|      Y|   null| 1991.0|     D/S|     M|  null|   null|  3.73679633E9|00296|      F1|
| 15.0|2016.0|   4.0| 101.0| 101.0|    WAS|20545.0|    1.0|     MI|20691.0|  55.0|    2.0|  1.0|20160401|    null| null|      T|      O|   null|      M| 1961.0|09302016|     M|  null|     OS|  6.66643185E8|   93|      B2|
| 16.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|  28.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1988.0|09302016|  null|  null|     AA|9.246846133E10|00199|      B2|
| 17.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|   4.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 2012.0|09302016|  null|  null|     AA|9.246846313E10|00199|      B2|
| 18.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MI|20555.0|  57.0|    1.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1959.0|09302016|  null|  null|     AZ|9.247103803E10|00602|      B1|
| 19.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NJ|20558.0|  63.0|    2.0|  1.0|20160401|    null| null|      O|      K|   null|      M| 1953.0|09302016|  null|  null|     AZ|9.247139923E10|00602|      B2|
| 20.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NJ|20558.0|  57.0|    2.0|  1.0|20160401|    null| null|      O|      K|   null|      M| 1959.0|09302016|  null|  null|     AZ|9.247161383E10|00602|      B2|
| 21.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NY|20553.0|  46.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1970.0|09302016|  null|  null|     AZ|9.247079603E10|00602|      B2|
| 22.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NY|20562.0|  48.0|    1.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1968.0|09302016|  null|  null|     AZ|9.247848973E10|00608|      B1|
| 23.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NY|20671.0|  52.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1964.0|09302016|  null|  null|     TK|9.250139443E10|00001|      B2|
| 24.0|2016.0|   4.0| 101.0| 101.0|    TOR|20545.0|    1.0|     MO|20554.0|  33.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1983.0|09302016|  null|  null|     MQ|9.249090503E10|03348|      B2|
| 27.0|2016.0|   4.0| 101.0| 101.0|    BOS|20545.0|    1.0|     MA|20549.0|  58.0|    1.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1958.0|04062016|     M|  null|     LH|9.247876383E10|00422|      B1|
| 28.0|2016.0|   4.0| 101.0| 101.0|    ATL|20545.0|    1.0|     MA|20549.0|  56.0|    1.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1960.0|04062016|     F|  null|     LH|9.247890033E10|00422|      B1|
| 29.0|2016.0|   4.0| 101.0| 101.0|    ATL|20545.0|    1.0|     MA|20561.0|  62.0|    2.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1954.0|09302016|     M|  null|     AZ|9.250378143E10|00614|      B2|
| 30.0|2016.0|   4.0| 101.0| 101.0|    ATL|20545.0|    1.0|     NJ|20578.0|  49.0|    2.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1967.0|09302016|     M|  null|     OS|9.247020943E10|00089|      B2|
| 31.0|2016.0|   4.0| 101.0| 101.0|    ATL|20545.0|    1.0|     NY|20611.0|  43.0|    2.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1973.0|09302016|     M|  null|     OS|9.247128923E10|00089|      B2|
| 33.0|2016.0|   4.0| 101.0| 101.0|    HOU|20545.0|    1.0|     TX|20554.0|  53.0|    2.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1963.0|09302016|     F|  null|     TK|9.250930163E10|00033|      B2|
| 34.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     CT|   null|  48.0|    2.0|  1.0|20160401|     TIA| null|      G|   null|   null|   null| 1968.0|09302016|     M|  null|     AZ|9.247042023E10|00602|      B2|
| 35.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     CT|   null|  74.0|    2.0|  1.0|20160401|     TIA| null|      T|   null|   null|   null| 1942.0|09302016|     F|  null|     TK|  6.69712185E8|    1|      B2|
| 36.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NJ|20561.0|  37.0|    2.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1979.0|09302016|     M|  null|     TK|9.250625823E10|00001|      B2|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 20 rows

In [12]:
# Create a view of the immigration dataset in order to assess key attributes from this source
df_immigration_test.createOrReplaceTempView("immig_table")

In [13]:
df_immigration_test.count()

3088544

In [14]:
#Check if the airport codes in the dataset having all observation 3 character long
spark.sql("""
SELECT LENGTH (i94port) AS len
FROM immig_table
GROUP BY len
""").show()

+---+
|len|
+---+
|  3|
+---+

In [15]:
#Temperature data quality assessment
df_temp=spark.read.format("csv").option("header", "true").load("../../data2/GlobalLandTemperaturesByCity.csv")

# Isolate and Filter out observations with NaN average temperature
df_temp=df_temp.filter(df_temp.AverageTemperature != 'NaN')

# Remove duplicates on locations attribute
df_temp=df_temp.dropDuplicates(['City', 'Country'])

@udf()
def get_i94port(city):
    '''
    Input: City name
    
    Output: Mapping with i94port attribute
    
    '''
    
    for key in port_valid:
        if city.lower() in port_valid[key][0].lower():
            return key

# Include iport94 code based on city name
df_temp=df_temp.withColumn("i94port", get_i94port(df_temp.City))

# Remove entries with no iport94 code
df_temp=df_temp.filter(df_temp.i94port != 'null')

In [16]:
# Test Quality assessment function
df_temp.take(20)

[Row(dt='1852-07-01', AverageTemperature='15.488', AverageTemperatureUncertainty='1.395', City='Perth', Country='Australia', Latitude='31.35S', Longitude='114.97E', i94port='PER'),
 Row(dt='1828-01-01', AverageTemperature='-1.977', AverageTemperatureUncertainty='2.551', City='Seattle', Country='United States', Latitude='47.42N', Longitude='121.97W', i94port='SEA'),
 Row(dt='1743-11-01', AverageTemperature='2.767', AverageTemperatureUncertainty='1.905', City='Hamilton', Country='Canada', Latitude='42.59N', Longitude='80.73W', i94port='HAM'),
 Row(dt='1849-01-01', AverageTemperature='7.399999999999999', AverageTemperatureUncertainty='2.699', City='Ontario', Country='United States', Latitude='34.56N', Longitude='116.76W', i94port='ONT'),
 Row(dt='1821-11-01', AverageTemperature='2.322', AverageTemperatureUncertainty='2.375', City='Spokane', Country='United States', Latitude='47.42N', Longitude='117.24W', i94port='SPO'),
 Row(dt='1843-01-01', AverageTemperature='18.874000000000002', AverageTemperatureUncertainty='2.017', City='Abu Dhabi', Country='United Arab Emirates', Latitude='24.92N', Longitude='54.98E', i94port='MAA'),
 Row(dt='1824-01-01', AverageTemperature='25.229', AverageTemperatureUncertainty='1.094', City='Anaco', Country='Venezuela', Latitude='8.84N', Longitude='64.05W', i94port='ANA'),
 Row(dt='1855-05-01', AverageTemperature='9.904', AverageTemperatureUncertainty='1.4369999999999998', City='Ica', Country='Peru', Latitude='13.66S', Longitude='75.14W', i94port='CHI'),
 Row(dt='1835-01-01', AverageTemperature='9.833', AverageTemperatureUncertainty='2.182', City='Nogales', Country='United States', Latitude='31.35N', Longitude='111.20W', i94port='NOG'),
 Row(dt='1743-11-01', AverageTemperature='8.129999999999999', AverageTemperatureUncertainty='2.245', City='Atlanta', Country='United States', Latitude='34.56N', Longitude='83.68W', i94port='ATL'),
 Row(dt='1796-01-01', AverageTemperature='15.552', AverageTemperatureUncertainty='2.305', City='Mau', Country='India', Latitude='26.52N', Longitude='84.18E', i94port='OGG'),
 Row(dt='1743-11-01', AverageTemperature='3.264', AverageTemperatureUncertainty='1.665', City='Newark', Country='United States', Latitude='40.99N', Longitude='74.56W', i94port='NEW'),
 Row(dt='1857-01-01', AverageTemperature='18.581000000000003', AverageTemperatureUncertainty='1.8119999999999998', City='Springs', Country='South Africa', Latitude='26.52S', Longitude='28.66E', i94port='PSP'),
 Row(dt='1856-01-01', AverageTemperature='26.055999999999997', AverageTemperatureUncertainty='1.3769999999999998', City='Ise', Country='Nigeria', Latitude='7.23N', Longitude='5.68E', i94port='BOI'),
 Row(dt='1743-11-01', AverageTemperature='18.722', AverageTemperatureUncertainty='2.302', City='Orlando', Country='United States', Latitude='28.13N', Longitude='80.91W', i94port='ORL'),
 Row(dt='1823-01-01', AverageTemperature='11.602', AverageTemperatureUncertainty='2.8160000000000003', City='Laredo', Country='United States', Latitude='28.13N', Longitude='99.09W', i94port='LCB'),
 Row(dt='1841-01-01', AverageTemperature='13.107999999999999', AverageTemperatureUncertainty='2.519', City='Tali', Country='Taiwan', Latitude='24.92N', Longitude='120.59E', i94port='MET'),
 Row(dt='1828-01-01', AverageTemperature='-2.7630000000000003', AverageTemperatureUncertainty='2.617', City='Victoria', Country='Canada', Latitude='49.03N', Longitude='122.45W', i94port='VIC'),
 Row(dt='1743-11-01', AverageTemperature='1.1880000000000002', AverageTemperatureUncertainty='1.531', City='Boston', Country='United States', Latitude='42.59N', Longitude='72.00W', i94port='BOS'),
 Row(dt='1849-01-01', AverageTemperature='8.091999999999999', AverageTemperatureUncertainty='2.1919999999999997', City='Fairfield', Country='United States', Latitude='37.78N', Longitude='122.03W', i94port='FTF')]

In [17]:
# Check
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
df_temperature = pd.read_csv(fname)
df_temperature['Country'].nunique()

159

In [18]:
# Check for null values.
df_temperature.isnull().sum()

dt                                    0
AverageTemperature               364130
AverageTemperatureUncertainty    364130
City                                  0
Country                               0
Latitude                              0
Longitude                             0
dtype: int64

In [19]:
df_temperature[df_temperature.AverageTemperature.isnull()]

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
9,1744-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
18,1745-05-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
19,1745-06-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
20,1745-07-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
21,1745-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
22,1745-09-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
23,1745-10-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
24,1745-11-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
25,1745-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
26,1746-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
27,1746-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
28,1746-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
29,1746-04-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
30,1746-05-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
31,1746-06-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
32,1746-07-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
33,1746-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
34,1746-09-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
35,1746-10-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
36,1746-11-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
37,1746-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
38,1747-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
39,1747-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
40,1747-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
41,1747-04-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
42,1747-05-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
...,...,...,...,...,...,...,...
8596029,1748-07-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596030,1748-08-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596031,1748-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596032,1748-10-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596033,1748-11-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596034,1748-12-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596035,1749-01-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596036,1749-02-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596037,1749-03-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596038,1749-04-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596039,1749-05-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596040,1749-06-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596041,1749-07-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596042,1749-08-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596043,1749-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596044,1749-10-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596045,1749-11-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596046,1749-12-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596057,1750-11-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596063,1751-05-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596068,1751-10-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596069,1751-11-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596070,1751-12-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596072,1752-02-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596075,1752-05-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596076,1752-06-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596077,1752-07-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596078,1752-08-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8596079,1752-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E
8599211,2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model

Map out the conceptual data model and explain why you chose that model

3.1 Data Model - concept

3.1.1 Dimension tables

The first dimension table will contain events from the I94 immigration data. The attributes will be extracted from the immigration dataframe:

Attribute Name       Description

i94yr             =  Year (4 digits)
i94mon            =  numeric month
i94cit            =  Origin City (3 digits code)
i94port           =  Destination City (3 character code)
arrdate           =  Date of Arrival
i94mode           =  Travel Code (1 digit)
depdate           =  Date of departure
i94visa           =  Immigration Reason
visatype          =  Type of Visa
Gender            =  Sex

The second dimension table will contain city temperature data. The attributes will be extracted from the temperature dataframe:

Attribute Name       Description

i94port             = Destination city (mapped from immigration data during cleanup step) - 3 char code
AverageTemperature  = average temperature
City                = Name of the city
Country             = Name of the country
Latitude            = Latitude
Longitude           = Longitude


dim_time_table

Get all the arrival dates from the immigration dataset;
extract year, month, day, week from the date and insert all the values in the dim_time_table;

Write to parquet

3.1.2 Fact table

The fact table will contain information from the I94 immigration data joined with the city temperature data and airport location on i94port:

Attribute Name       Description

i94yr              = Year(4 digits)
i94mon             = numeric month
i94cit             = Origin city(3 digits code)
i94port            = Destination city(3 characters code)
arrdate            = Date of arrival
i94mode            = Travel Code (1 digit)
depdate            = Date of Departure
i94visa            = immigration reason
AverageTemperature = Average temperature of destination city
visatype           = Type of visa

The tables will be saved to Parquet files partitioned by city (i94port attribute) except dim_time_table.


#### 3.2 Mapping Out Data Pipelines

List the steps necessary to pipeline the data into the chosen data model

The pipeline steps are described below:

1. Initiate quality assessment for I94 attribute data as described in step 2 to create Spark dataframe df_immigration for each month;

2. Initiate quality assessment for temperature data as described in step 2 to create Spark dataframe df_temp (already performed);

3. Create immigration dimension table by selecting relevant columns from df_immigration and write to parquet file partitioned by i94port;

4. Create temperature dimension table by selecting relevant columns from df_temp and write to parquet file partitioned by i94port;

5. Create time dimension table by extracting year, month, day, week from the date (Arrival Date from immigration dimension table) write to parquet file;

6. Create fact table by joining immigration and temperature dimension tables on i94port and write to parquet file partitioned by i94port;

In [20]:

# Path to I94 immigration data 
immigration_data = '/data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'

# Initiate quality assessment for I94 attribute data and store as Spark dataframe
df_immigration = clean_i94_data(immigration_data)

# Extract columns for immigration dimension table
dim_immigration_table = df_immigration.select(["i94yr", "i94mon", "i94cit", "i94port", "arrdate", "i94mode", "depdate", "i94visa", "visatype", "Gender"])

# Write immigration dimension table to parquet files partitioned by i94port
dim_immigration_table.write.mode("append").partitionBy("i94port").parquet("/results/immigration.parquet")

In [21]:
# Extract columns for temperature dimension table
dim_temp_table = df_temp.select(["AverageTemperature", "City", "Country", "Latitude", "Longitude", "i94port"])

# Write temperature dimension table to parquet files partitioned by i94port
dim_temp_table.write.mode("append").partitionBy("i94port").parquet("/results/temperature.parquet")

In [22]:
# Create temporary views of the immigration and temperature data
df_immigration.createOrReplaceTempView("immig_view")
df_temp.createOrReplaceTempView("temp_view")

In [23]:
# drop rows where the gender values entered is undefined
spark.sql("""SELECT * FROM immig_view WHERE gender IN ('F', 'M')""").createOrReplaceTempView("immig_view")

In [24]:
# convert the departure dates into a useable value
spark.sql("""SELECT *, CASE 
                        WHEN arrdate >= 1.0 THEN date_add(to_date('1960-01-01'), arrdate)
                        WHEN arrdate IS NULL THEN NULL
                        ELSE 'N/A' END AS arrival_date 
                        
                FROM immig_view""").createOrReplaceTempView("immig_view")

In [25]:
# convert the departure dates into a useable value
spark.sql("""SELECT *, CASE 
                        WHEN depdate >= 1.0 THEN date_add(to_date('1960-01-01'), depdate)
                        WHEN depdate IS NULL THEN NULL
                        ELSE 'N/A' END AS departure_date 
                        
                FROM immig_view""").createOrReplaceTempView("immig_view")

In [26]:

# extract all distinct dates from arrival and departure dates to create dimension table
dim_time = spark.sql("""
SELECT DISTINCT arrival_date AS date
FROM immig_view
UNION
SELECT DISTINCT departure_date AS date
FROM immig_view
WHERE departure_date IS NOT NULL
""")
dim_time.createOrReplaceTempView("dim_time_table")

In [27]:
# extract year, month, day, weekofyear, dayofweek and weekofyear from the date and insert all the values in the dim_time table;
dim_time = spark.sql("""
SELECT date, YEAR(date) AS year, MONTH(date) AS month, DAY(date) AS day, WEEKOFYEAR(date) AS week, DAYOFWEEK(date) as weekday, DAYOFYEAR(date) year_day
FROM dim_time_table
ORDER BY date ASC
""")

In [28]:
# extract year, month, day, weekofyear, dayofweek and weekofyear from the date and insert all the values in the dim_time table;
dim_time = spark.sql("""
SELECT date, YEAR(date) AS year, MONTH(date) AS month, DAY(date) AS day, WEEKOFYEAR(date) AS week, DAYOFWEEK(date) as weekday, DAYOFYEAR(date) year_day
FROM dim_time_table
ORDER BY date ASC
""")

In [29]:
#Saving the data in parquet format
dim_time.write.parquet("/results/dim_time.parquet")

In [30]:

# Create the fact table by joining the immigration and temperature views
fact_table = spark.sql('''
SELECT immig_view.i94yr as year,
       immig_view.i94mon as month,
       immig_view.i94cit as city,
       immig_view.i94port as i94port,
       immig_view.arrival_date as arrival_date,
       immig_view.departure_date as departure_date,
       immig_view.i94visa as reason,
       immig_view.Gender as Gender,
       temp_view.AverageTemperature as temperature,
       temp_view.Latitude as latitude,
       temp_view.Longitude as longitude
FROM immig_view
JOIN temp_view ON (immig_view.i94port = temp_view.i94port)
''')

# Write fact table to parquet files partitioned by i94port
fact_table.write.mode("append").partitionBy("i94port").parquet("/results/fact.parquet")

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [32]:
# Perform quality checks here

def quality_check(df, description):
    '''
    Input:  Description of Spark datafram
    
    Output: Data qulity check results
    
    '''
    
    result = df.count()
    if result == 0:
        print("Data quality check failed for {} with zero records".format(description))
    else:
        print("Data quality check passed for {} with {} records".format(description, result))
    return 0

# Perform data quality check
quality_check(df_immigration, "immigration table")
quality_check(df_temp, "temperature table")

Data quality check passed for immigration table with 3088544 records
Data quality check passed for temperature table with 207 records

0

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

The first dimension table will contain events from the I94 immigration data. The columns below will be extracted from the immigration dataframe:

Attribute Name       Description

i94yr             =  Year (4 digits)
i94mon            =  numeric month
i94cit            =  Origin City (3 digits code)
i94port           =  Destination City (3 character code)
Arrival_date      =  Date of Arrival
i94mode           =  Travel Code (1 digit)
Departure_date    =  Date of departure
i94visa           =  Immigration Reason
visatype          =  Type of Visa
Gender            =  Sex


The second dimension table will contain city temperature data. The columns below will be extracted from the temperature dataframe:

Attribute Name       Description

i94port             = Destination city (mapped from immigration data during cleanup step) - 3 char code
AverageTemperature  = average temperature
City                = Name of the city
Country             = Name of the country
Latitude            = Latitude
Longitude           = Longitude

The third dimension table will contain all the arrival dates from the immigration dataset extracting year, month, day, week from the date and insert all the values in the dim_time_table;

Attribute Name       Description

year               = Year (From Arrival Date)
month              = Month (From Arrival Date)
week               = Week (From Arrival Date)
weekday            = Weekday (From Arrival Date)
year_day           = Day in Year (From Arrival Date)


The fact table will contain information from the I94 immigration data joined with the city temperature data on i94port:

Attribute Name       Description

year           =  Year (4 digits)
month          =  numeric month
city           =  Origin City (3 digits code)
i94port        =  Destination City (3 character code)
arrival_date   =  Date of Arrival
departure_date =  Date of departure
reason         =  Immigration Reason
Gender         =  Sex
temperature    =  Average temperature
latitude       =  Latitude
longitude      =  Longitude

#### Step 5: Complete Project Write Up

Purpose of data model;

The purpose of this data model is to provide a consistent source of information from which different analytics teams could initiate followings:

->Data exploration;(cluster, correlations, retrospective analysis)
->Find potential correlations between destination temperature and immigration statistics;
->Travel sesonality;
->Understand the traveller behaviour and initiate classifications;

Primary consumers of this data model are followings:

Data Scientist;
Data Analyst;
BI analyst;

Data is saved in parquet which has the following advantages:
->Size efficiency which drives sustainability in case data will increase;
->I/O failures are minimized;

Data model could be connected to a Data Visualization tool such as Power BI or Tableau;




* Clearly state the rationale for the choice of tools and technologies for the project.

The main purpose of this data model is to be a consistent and efficient source of data for consumers such as Data Scientists, Data Analysts or BI analysts for following use cases:

1.Data exploration (correlations using attributes from fact table e.g. temperature and Arrival date or Destination City)

    1.1 Applying clustering techniques in order to assess geographical clusters per different continuos/discrete variables (temperature, reason etc.) - The consumer of data model needs to initiate a query to aggregate data at Destinaty City level;
    
2.Travel sesonality - another potential use case which analytics team could cover using this data model is to assess the travel seasonality in understanding frequency of flights over the year;

    ->Analytics team could take a long time period of time (3-5 years) in order to draw consistent conlusions;
    ->Analytics team needs to query finalized years and use month or day (depending on granularity of seasonality analysis);

3.Traveler behavior - Analytics team could initiate queries in order to define traveler behaviour;

    ->In this regard they need to take into consideration explanatory variables such as : Gender, Immigation Reason, Origin City etc.
    
Technologies used:

Spark was used as main tool in creating data model due to below reasons:

->Imigration Dataset has a considerable amount of data (~ 3 million rows) combined with temperature date;

->We need to drive sustainability to process data over a longer period of time;

->Drive resilience in case we want to integrate new external sources;

->Ease the work to create new table derived from existing tables (dim_time_table);

->Posibility to process multiple queries quickly which drives to time efficient to explore, quality assess and create the data model;

->Spark is easing our work in handling multiple types of formats (such as SAS format)

* Propose how often the data should be updated and why.

We stated at the beginning of this project that we were interested in:

-> The effects and correlation between temperature on the volume of travellers;

-> Travel seasonality

None of these phenomenons require a rapid update of our data.The data update in order to cover the needs of this study would be monthly or quarterly.


* Write a description of how you would approach the problem differently under the following scenarios:

 * The data was increased by 100x.
 
Our data would be stored in an Amazon S3 bucket (instead of storing it in the EMR cluster along with the staging tables) and loaded to our staging tables. We would still use Spark as it as our data processing platform since it is the best suited platform for very large datasets.

 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 
 In this case we can use a batch job ochestration such as Apache Airflow to perform the ETL and data qualtiy validation.
 
 * The database needed to be accessed by 100+ people.
 
 Once the data is ready to be consumed, it would be stored in a postgres database on a redshift cluster that easily supports multiuser access.